html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff
}
.UltimaTVApp{
    padding: 20px;
    box-sizing: border-box
}
.UltimaTVApp .ultimaTVplayerWrapper{
    max-height: 80vh;
    height: 80vh;
}
.UltimaTVApp .ultimaTVplayerWrapper video{
    height: 500px;
}
.UltimaTVApp .ultRadio{
   margin-right:25px
}
.pwaInfo{
    color: #fff;
    width: 100%;
    float: left;
}
.installBtn{
    background-color: #2593d4;
    color: #fff;
    border-radius: 2px;
    margin-left: 35px;
    outline: 0;
    border: 1px solid #1c78bf;
    padding: 5px 12px;
    position: relative;
    top: -17px;
}
.logo{
    width: 200px
}
.title{
    width: 100%;
    float: left;
    display: block;
    font-size: 22px;
    text-align: center;
}